
grey1 = #f1f1f1
grey2 = #ededed
grey3 = #979797

red1 = #6d351f
orange1 = #d37627
yellow1 = #f2d000
lblue1 = #aed8f4
dblue1 = #4b82a2

fnt_open = 'Open Sans', sans-serif
fnt_tit = 'Titillium Web', sans-serif
