/* 
stylus -w main.styl -o ../css/.  
*/

@import nib
@import _vars

@import _header

.clear
  clearfix()

html,body
  margin 0
  padding 0
  font-family fnt_open
  font-size 16px
  font-weight 300
  background-color grey1

.container
  margin 0
  padding 0

.content
  margin 3em 2em 2em 2em
  padding 2em 1em
  min-height 400em
  background-color white

