.header.large
  .inner 
    .menu
      a.item(href'#') overview
      a.item(href'#') features
      a.item(href'#') pricing
    .logo the response
    .motto get quality feedback
    .clear
  .bottom
