
extends layout

block title
  - var title = 'the response'

block content
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody
  p hello everybody

